<table class="modal-table table table-responsive">
    <thead><tr class="modal-firstrow"><th>Descripción</th><th>Suma Asegurada</th></tr></thead><tbody>
    <tr><td>Servicio de Grua y ambulancia en caso de siniestro</td><td>$500</td></tr>
    <tr><td>Vehiculo de reemplazo</td><td>15 dias choque y robo total</td></tr>
    <tr><td>Chofer de Reemplazo</td><td>3 veces al año</td></tr>
    <tr><td>Auxilio Mecanico </td><td>24 horas</td></tr>
    <tr><td>Uso de vías no autorizadas</td><td>INCLUIDO</td></tr>
    </tbody>
</table>