<table class="modal-table table table-responsive">
    <thead><tr class="modal-firstrow"><th>Descripción</th><th>Suma Asegurada</th></tr></thead><tbody>
    <tr><td>Daño Propio (Valor pactado)</td><td>$ {{ cotizacion.vehiculo_valor_comercial }}</td></tr>
    <tr><td>Responsabilidad Civil</td><td>$150,000 </td></tr>
    <tr><td>Resp.Civil de ocupantes por c/u</td><td>$10,000 </td></tr>
    <tr><td>Accidentes ocupantes (5 ocup)</td><td></td></tr>
    <tr><td> - Muerte e invalidez permanente c/ocupante</td><td>$20,000 </td></tr>
    <tr><td> - Gastos de Curación c/u</td><td>$5,000 </td></tr>
    <tr><td> - Gastos de Sepelio c/u.</td><td>$2,000 </td></tr>
    <tr><td>Equipo musical máximo el 10% del valor hasta</td><td>$1,000 </td></tr>
    <tr><td>Riesgos de la Naturaleza</td><td>INCLUIDO</td></tr>
    <tr><td>Terrorismo,D. Malicioso, Vandalismo, </td><td>INCLUIDO</td></tr>
    <tr><td>Huelgas y Conm.Civiles</td><td>INCLUIDO</td></tr>
    <tr><td>Ausencia de Control</td><td>Endosadas a Entidades Financieras</td></tr>
    <tr><td>Resp. Civil x Ausencia de Control</td><td>$50,000</td></tr>
    <tr><td>Imprudencia culposa</td><td>INCLUIDO</td></tr>
    <tr><td>Resp. Civil x Imprudencia culposa</td><td>$10,000 </td></tr>
    <tr><td>Emergencia médica asistida y ambulancia</td><td>INCLUIDO</td></tr>
    </tbody>
</table>