<table class="modal-table table table-responsive">
    <thead><tr class="modal-firstrow"><th>Descripción</th><th>Suma Asegurada</th></tr></thead><tbody>
    {% for row in data %}
    <tr><td></td><td> {{ row.nombre }}&nbsp;</td></tr>
    {% endfor %}
    </tbody></table>