<table class="modal-table table table-responsive">
    <thead><tr class="modal-firstrow"><th>Descripción</th><th>Suma Asegurada</th></tr></thead><tbody>
    <tr><td>Por evento</td><td>&nbsp;</td></tr>
    <tr><td>Talleres multimarca</td><td>10% del monto a indemnizar, mín $ 150</td></tr>
    <tr><td>Robo parcial</td><td>15% del monto a indemnizar, mín US$ 150</td></tr>
    <tr><td>Conductor varón menor  de 25 años</td><td>20% del siniestro mín $ 300, para todo evento (incluído pérdida total)</td></tr>
    <tr><td>accesorio musical</td><td>10% del siniestro,  minimo $150</td></tr>
    <tr><td>vehiculo de reemplazo</td><td>&nbsp;</td></tr>
    <tr><td>Imprudencia culposa</td><td>20% del siniestro, recargo de 50% en el deducible mínimo que corresponda</td></tr>
    <tr><td>Pérdida Total por Imprudencia Culposa</td><td>20% del siniestro,  mín $ 500</td></tr>
    <tr><td>Ausencia de control (Talleres afiliados )</td><td>25% del monto a indemnizar, mín $ 500</td></tr>
    <tr><td>Ausencia de control (Talleres afiliados multimarca)</td><td>25% del monto a indemnizar, mín $ 300</td></tr>
    <tr><td>Pérdida Total por Ausencia de Control </td><td></td></tr>
    </tbody></table>