<h1>Aquí le tenemos el mejor precio</h1>
<br>
<br>
<br>
<p>
    Sr. {{ cotizacion.conductor_nombres }} {{ cotizacion.conductor_apellidos }}
</p>
<p>
    Tenemos el mejor precio para Usted.
</p>
<br>
<p>
    En 4 cuotas:        100$
</p>