{% extends 'main.twig' %}
{% block content %}
<section class="vehiculo" style="background: url('http://ariansen.pe/images/slider/seguro-vehicular.jpg')">
    <div class="container width-form"
         style="text-transform: uppercase;text-align: center; background: #c04b3f;color: #ffffff;border-radius: 5px 5px 0px 0px;text-shadow: 0px 1px 3px #0c0909;">
        <strong>Completa el formulario y cotiza al instante</strong></div>
    <div class="container width-form"
         style="text-align: left;font-size: 14.2px;background: white;box-shadow: 0px 5px 5px 0px black;">
        <br>
        <form method="post" action="{{ base_url("/contacto/") }}">

            <div class="row">
                <div class="col-sm-auto col-md-12 col-lg-6">
                    <h5 style="color: #c73935;">DATOS DEL VEHÍCULO</h5>
                    <hr style="border: 1px solid #cb3a36;">
                    <div class="form-group">
                        <label>Marca</label>
                        <select class="form-control" id="s-marca" name="vehiculo_marca" required="required">
                            <option value="" selected="selected">Seleccione</option>
                            {% for marca in marcas %}
                                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Modelo</label>
                        <select class="form-control" id="s-modelo" name="vehiculo_modelo" required="required">
                            <option value="" selected="selected">Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group row">

                        <div class="col-lg-6">
                            <label>Uso particular</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input checked="checked" class="form-check-input" type="radio" name="vehiculo_uso" id="inlineRadio1"
                                           value="option1" required="required"> Si
                                </label>
                            </div>
                     {#       <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="vehiculo_uso" id="inlineRadio2"
                                           value="option2" required="required"> No
                                </label>
                            </div>#}
                        </div>
                        <div class="col-lg-6">
                            <label>Año de fabricación</label>
                            <select class="form-control" name="vehiculo_annio" required="required" id="s-annio">
                                <option value="" selected="selected">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <!-- TODO AQUI DEBE CALCULAR HACIA ABAJO Y HACIA ARRIBA 10%, DE ACUERDO AL VALOR DE LA MARCA DEL CARRO-->
                    <div class="form-group">
                        <label>Valor comercial</label>
                        <span id="valor-comercial"></span>
                        <input type="range" min="1" max="100" value="100" class="slider" id="r-valor-com"
                               name="vehiculo_valor" required="required">
                        <div>
                            <div class="float-left" style="float: left;"><span id="valor-comercial-min"></span></div>
                            <div class="float-right" style="float: right;"><span id="valor-comercial-max"></span></div>
                        </div>
                    </div>
                </div>
                <!--SEGUNDA COLUMNA PARA DATOS DEL CONDUCTOR-->
                <div class="col-sm-auto col-md-12 col-lg-6">
                    <h5 style="color: #3a82b6;">DATOS DEL CLIENTE</h5>
                    <hr style="border: 1px solid #3a82b6;">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" name="conductor_nombres" required="required">
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input class="form-control" name="conductor_apellidos" required="required">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>DNI</label>
                                <input class="form-control" name="conductor_dni" required="required" maxlength="8">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Fecha de nacimiento:</label>
                                <input class="form-control" type="date" name="conductor_fec_nac" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Sexo</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="conductor_sexo" id="inlineRadio1"
                                           value="F" required="required"> Femenino
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="conductor_sexo" id="inlineRadio2"
                                           value="M" required="required"> Masculino
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Teléfono</label>
                            <input class="form-control" name="conductor_celular" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <input type="email" class="form-control" name="conductor_correo" required="required">
                    </div>
                    <div class="form-group btn-cotizar">
                        <button class="btn btn-primary" value="Cotizar">COTIZAR</button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</section>
{% endblock %}