<footer>
    <div class="container">
        <div class="copyright">
            <ul class="social">
                <li><a href="https://www.facebook.com/Ariansen-Allemant-Corredores-De-Seguros-1002865673065745/"
                       target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-twitter-alt"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
            </ul>
            ©2016 Ariansen Allemant
        </div>
    </div>
    <!-- / END CONTAINER -->
</footer>